<!-- views/partials/header.ejs -->

<head>
  <style>
/*    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }*/
/*    h1 {
    padding: 30px;
    background-color: #4c7585;
    text-align: center;
    }
    body {
    background-color: #8c829e;

    }*/

  </style>
</head>

<header> <% if(user_id){ %>
   <h1>Welcome <%= user_id%></h1>
  <form method="POST" action="/logout">
  <input type="submit" value="LOG OUT"></form>

 <% } else{ %>

    <form method="GET" action="/login">
    <h1><center><input type="submit" class="button" value="LOG IN"></h1></center>
    </form>
    <form method="GET" action="/register">
     <center><h1><input type="submit" class="button" value="REGISTER"></h1></center>
    </form>

<% } %>
</header>