<!-- views/partials/header.ejs -->


<header>

  <% if(user_id){ %>
   <center><h1 >WELCOME <%= user.email %> </h1></center>

  <form method="POST" action="/logout" >
  <center><input type="submit" value="LOG OUT" style="background-color: #4CAF50;
      color: white;
      padding: 15px 42px;
      text-align: center;
      font-size: 16px;"></form></center>
  <br/> <br/> <br/>

 <% } else{ %>
    <br/> <br/> <br/>
    <form method="GET" action="/login">
    <center><input type="submit" class="button" value="LOG IN" style="background-color: #4CAF50;
      color: white;
      padding: 15px 42px;
      text-align: center;
      font-size: 16px;"></center>
    <br/> <br/> <br/>
    </form>
    <form method="GET" action="/register">
    <center><input type="submit" class="button" value="REGISTER" style="background-color: #4CAF50;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;"></center>
    </form>
    <br/> <br/> <br/>
  <% } %>

</header>
