<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <%= shortURL %>

    <form action="/urls/<%= shortURL %>/update" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder= "<%= longURL %>">
      <input type="submit" value="UPDATE">
    </form>

</body>
</html>
