<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
  </style>
</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <%= shortURL %>

    <form action="/urls/<%= shortURL %>/update" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder= "<%= longURL %>">
      <input type="submit" class="button" value="UPDATE">
    </form>

</body>
</html>
